/* ============================================= */
/*              Variables                        */
/* ============================================= */

// Color Variables

$color-primary: #58e1c1;
$color-secondary: #777;
$color-default-button: #51ddfc;
$color-error-button: #e4757a;
$color-info-button: #927bc1;
$color-success-button: #63cc82;
$color-warning-button: #fd7856;

// Media Query Variables

$width-tablet: 768px;